body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/**************************     MACHINE     *************************************/
.machine{
    background-color: #161616;
    display: flex;
    flex-direction: column;
}
/**************************     KEYBOARD STYLES     *************************************/
.writing-board {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.writing-board .row{
    display: flex;
    justify-content: space-around;
}
.writing-board .button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    text-transform: uppercase;
    border-radius: 45px;
    background-color: rgb(0, 0, 0);
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    transition: all 200ms ease-in-out;
    user-select: none;
    cursor: pointer;
}
.writing-board .button.active{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 45px;
    background-color: #76ff03;
    box-shadow: 0 0 20px #76ff03;
    font-size: 1.2em;
    color: rgb(0, 0, 0)
}

/**************************     ROTOR     *************************************/
.rotors{
    display: flex;
    padding: 20px 10px;
    justify-content: space-around;
    max-width: 400px;
}
.rotor{
    font-size: 1.5em;
    height: 70px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #999;
    user-select: none;
}
/**************************     CURRENT OUTPUT    *************************************/
.helper{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.helper span{
    width: 150px;
    display: block;
    margin: 0 10px;
    font-size: 1.2em;
}
.helper .input, .helper .output{
    display: flex;
    flex-grow: 1;
    margin-right: 10px;
    align-items: center;
    font-family: monospace;
    height: 40px;
    padding: 0 8px;
    width: calc(100% - 196px);
    overflow-x: auto;
    //  border-radius: 10px;
    box-shadow: 0 0 4px #999;
    font-size: 1.5em;
    background-color: #161616;
    text-transform: uppercase;
    color: #f44336;
}
.helper .output{
    color: #3cc803;
}

button{
    background-color: transparent;
    border: 2px solid #000;
    color: #000;
    font-size: 1em;
    padding: 8px;
    cursor: pointer;
    outline: none;
}

button:hover{
    background-color: #000;
    color: #fff;
}

